ANTHROPIC_API_KEY=
OPENAI_API_KEY= # used only for audio transcription
MONGO_URI=mongodb://localhost:27017/copilot-local
JWT_SECRET=
REDIS_URL=redis://localhost:6379
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_SES_REGION_NAME=us-east-1
S3_BUCKET_NAME=